{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% from "run_util.html" import display_result_code, display_branch_url %}
{% block page_title %}Package Overview - {{ package }}{% endblock %}
{% block body %}
<div class="section" id="{{ package }}">

<h1>{{ package }}</h1>
<ul class="simple">
<li><a class="reference external" href="https://tracker.debian.org/pkg/{{ package }}">QA Page</a></li>
<li>Maintainer email: <a class="reference external" href="mailto:{{ maintainer_email }}">{{ maintainer_email }}</a></li>
{% if vcs_url %}
<li>Branch URL: {{ display_branch_url(vcs_browse, vcs_url) }}</li>
{% endif %}
{% if removed %}
<li class="removed-in-unstable">This package is removed in unstable.</li>
{% endif %}
{% if vcswatch_status == 'commits' %}
<li class="vcswatch-commits">This package has <a href="https://qa.debian.org/cgi-bin/vcswatch?package={{ package }}">unuploaded commits</a>.</li>
{% elif vcswatch_status == 'new' %}
<li class="vcswatch-new">This package has <a href="https://qa.debian.org/cgi-bin/vcswatch?package={{ package }}">unuploaded versions</a>.</li>
{% endif %}
</ul>

<div class="section" id="suites">
<h2>Per-suite pages</h2>
<ul>
{% for suite in suites %}
<li><a href="/{{ suite }}/pkg/{{ package }}">{{ suite }}</a></li>
{% endfor %}
</ul>
</div>

{% if merge_proposals %}
<div class="section" id="recent-merge-proposals">
<h2>Recent merge proposals</h2>
<ul>
{% for url, status, run in merge_proposals %}
<li><a href="{{ url }}">{% if run %}{{ run.suite }}{% else %}{{ url }}{% endif %}</a> ({{ status }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

<div class="section" id="recent-package-builds">
<h2>Recent package builds</h2>
<ul class="simple">
{% for run in runs %}
{% if run.build_version %}
<li>{{ run.build_version }} (for <a href="/{{ run.build_distribution }}">{{ run.build_distribution }}</a>)</li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="section" id="recent-runs">
<h2>Recent runs</h2>
<ul class="simple">
{% for run in runs %}
<li><a class="reference external" href="{{ run.id }}/">{{ format_timestamp(run.times[1]) }} {{ run.command }}</a>: {{ display_result_code(run.result_code) }}</li>
{% endfor %}
</ul>
</div>
</div>

</div>
{% endblock %}
